<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;
        }
    </style>
</head>

<body>
    <form action="login" method="post">
        {%csrf_token%}
        <input type="text" for="name" placeholder="email" name="email">
        <input type="text" for="name" placeholder="password" name="password">
        <button type="submit">Sign Up Here</button>
    </form>
</body>

</html>