<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;
        }
    </style>
</head>

<body>
    <form action="upload" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="file" for="name" placeholder="file" name="filename">
        <button type="submit">Upload</button>
    </form>
</body>

</html>